.nav {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom-right-radius: $border-raius;
  user-select: none;
  position: fixed;
  padding: 1rem 2rem;
  left: 50%;
  top: 0%;
  width: 130rem;
  transform: translateX(-50%);
  z-index: 2;
  height: 6rem;

  &__search {
    width: 50%;
    display: flex;
    align-items: center;
    user-select: text;
    &-icon {
      z-index: 5;
      margin-right: -4.8rem;
      padding: 1.1rem 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__input {
    width: 100%;
    background-color: var(--color-white);
    border: none;
    border-radius: 5rem;
    padding: 0.5rem;
    padding-left: 5rem;
    padding-right: 3rem;
    font-size: 1.6rem;
    outline: none;
    font-family: 'Poppins';
    font-weight: 300;
  }

  &__input-2 {
    width: 80%;
    background-color: var(--color-white);
    border: none;
    border-radius: 5rem;
    padding: 0.5rem;
    padding-left: 5rem;
    padding-right: 3rem;
    font-size: 1.6rem;
    outline: none;
    font-family: 'Poppins';
    font-weight: 300;
    margin-right: 2rem;
  }

  &__custom {
    display: flex;
    align-items: center;

    &-color {
      height: 3rem;
      width: 3rem;
      fill: var(--text-color);
      margin-left: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .nav__search-2 {
    height: 2.6rem;
  }

  .nav__input-2 {
    background-color: var(--color-white);
    padding-left: 2rem;
  }

  .nav__search-2:hover {
    cursor: pointer;
  }

  .nav__settings {
    height: 2.6rem;
    position: relative;
    z-index: 1500;
    height: 3rem;
    width: 3rem;
    fill: var(--text-color);
    &:hover {
      cursor: pointer;
    }
  }
}

.nav__search-2 {
  height: 3rem;
  width: 3rem;
  fill: var(--text-color);
  margin-right: 2rem;
  &:hover {
    cursor: pointer;
  }
}

.custom-select {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  background-color: var(--color-primary);
  padding: 1rem 0;
  border-radius: $border-raius;
  margin-top: 1rem;
  margin-left: -10.8rem;
  border: 1px solid var(--text-color);
  white-space: nowrap;
  .select {
    color: var(--text-color);
    text-decoration: none;
    padding: 1rem 3rem;
    &:hover {
      background-color: var(--color-tertiary);
      cursor: pointer;
    }
    &:after {
      content: '';
      position: absolute;
      right: 1.1rem;
      top: -0.6rem;
      width: 1rem;
      height: 1rem;
      border-top: 1px solid var(--text-color);
      border-left: 1px solid var(--text-color);
      background-color: var(--color-primary);
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

#nav-icons {
  display: flex;
  position: relative;
  align-items: center;
}

.nav__darkmode-toggle {
  font-size: 1.6rem;
  font-weight: 500;
}
