:root {
  --color-primary: #e7cbb4;
  --color-sec: #f0f2f5;
  --color-tertiary: #c7a283;
  --text-color: #1a1a1a;
  --color-white: #eeeeee;
}

.darkmode {
  --color-primary: #28282c;
  --color-sec: #18191a;
  --color-tertiary: #534f4f;
  --text-color: #eeeeee;
}

.hidden {
  display: none;
}

.shown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.error-msg {
  color: red;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: -1.5rem;
}

#login-message-red {
  color: red;
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins';
  font-weight: 300;
  color: var(--text-color);
}

body {
  background-color: var(--color-sec);
  /* Handle */
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-tertiary);
}

.container {
  background-color: var(--color-sec);
  max-width: 130rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 6rem;
      grid-template-rows: 6rem;
  position: relative;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 130rem;
  margin: 0 auto;
  position: relative;
}

.overlay {
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  margin-top: -6rem;
  z-index: 20;
}

.nav {
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  -webkit-border-bottom-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  padding: 1rem 2rem;
  left: 50%;
  top: 0%;
  width: 130rem;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  height: 6rem;
}

.nav__search {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.nav__search-icon {
  z-index: 5;
  margin-right: -4.8rem;
  padding: 1.1rem 1.5rem;
}

.nav__search-icon:hover {
  cursor: pointer;
}

.nav__input {
  width: 100%;
  background-color: var(--color-white);
  border: none;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 0.5rem;
  padding-left: 5rem;
  padding-right: 3rem;
  font-size: 1.6rem;
  outline: none;
  font-family: 'Poppins';
  font-weight: 300;
}

.nav__input-2 {
  width: 80%;
  background-color: var(--color-white);
  border: none;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 0.5rem;
  padding-left: 5rem;
  padding-right: 3rem;
  font-size: 1.6rem;
  outline: none;
  font-family: 'Poppins';
  font-weight: 300;
  margin-right: 2rem;
}

.nav__custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__custom-color {
  height: 3rem;
  width: 3rem;
  fill: var(--text-color);
  margin-left: 2rem;
}

.nav__custom-color:hover {
  cursor: pointer;
}

.nav .nav__search-2 {
  height: 2.6rem;
}

.nav .nav__input-2 {
  background-color: var(--color-white);
  padding-left: 2rem;
}

.nav .nav__search-2:hover {
  cursor: pointer;
}

.nav .nav__settings {
  height: 2.6rem;
  position: relative;
  z-index: 1500;
  height: 3rem;
  width: 3rem;
  fill: var(--text-color);
}

.nav .nav__settings:hover {
  cursor: pointer;
}

.nav__search-2 {
  height: 3rem;
  width: 3rem;
  fill: var(--text-color);
  margin-right: 2rem;
}

.nav__search-2:hover {
  cursor: pointer;
}

.custom-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-primary);
  padding: 1rem 0;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  margin-top: 1rem;
  margin-left: -10.8rem;
  border: 1px solid var(--text-color);
  white-space: nowrap;
}

.custom-select .select {
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem 3rem;
}

.custom-select .select:hover {
  background-color: var(--color-tertiary);
  cursor: pointer;
}

.custom-select .select:after {
  content: '';
  position: absolute;
  right: 1.1rem;
  top: -0.6rem;
  width: 1rem;
  height: 1rem;
  border-top: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  background-color: var(--color-primary);
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

#nav-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__darkmode-toggle {
  font-size: 1.6rem;
  font-weight: 500;
}

.sidebar {
  width: 20rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  margin-top: 6rem;
}

.profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-primary);
  width: 100%;
  height: 170px;
  -webkit-border-bottom-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
  position: relative;
}

.profile-image {
  position: relative;
}

.profile-image-pic {
  width: 8rem;
  height: 8rem;
  fill: var(--text-color);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.profile-image-add {
  fill: white;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(25%, 20%);
      -ms-transform: translate(25%, 20%);
          transform: translate(25%, 20%);
  opacity: 0;
  left: 1.7rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: none;
}

.profile-image:hover .profile-image-add {
  opacity: 1;
  -webkit-transform: translate(25%, -50%);
      -ms-transform: translate(25%, -50%);
          transform: translate(25%, -50%);
  cursor: pointer;
}

.profile-image:hover .profile-image-pic {
  -webkit-filter: blur(2px) brightness(80%);
          filter: blur(2px) brightness(80%);
  cursor: pointer;
}

.profile-name {
  margin-top: 1rem;
  color: var(--text-color);
  font-weight: 500;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.contacts {
  margin: 0 auto;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--color-sec);
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  height: 3rem;
}

.users {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: -webkit-calc(100vh - 23rem);
  height: calc(100vh - 23rem);
  overflow-y: scroll;
  background-color: var(--color-sec);
  /* Handle */
}

.users::-webkit-scrollbar {
  width: 1rem;
}

.users::-webkit-scrollbar-track {
  background: var(--color-primary);
}

.users::-webkit-scrollbar-thumb {
  background: var(--color-tertiary);
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
}

.users__profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 3rem;
}

.users__profile-img {
  width: 6rem;
  height: 6rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.users-status {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  background-color: #25c725;
  border: 0.1px solid white;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  margin-left: 4em;
  margin-bottom: 7em;
}

.line {
  position: fixed;
  height: 10vh;
  width: 0.5rem;
  margin-left: 18.9rem;
  margin-top: 45vh;
  background-color: var(--color-tertiary);
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  display: none;
}

.profile-image-upload {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 8rem;
  height: 8rem;
  opacity: 0;
}

.profile-image-upload:hover {
  cursor: pointer;
}

.profile-image-upload-input {
  display: none;
}

.ree {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1rem;
}

.btn {
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  border: none;
  font-family: 'Poppins';
  font-weight: 500;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.btn-primary {
  background-color: var(--color-white);
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
}

.btn-primary-2 {
  background-color: transparent;
  color: var(--text-color);
  width: 100%;
  font-weight: 500;
  font-size: 1.6rem;
}

.btn-sec {
  background-color: var(--color-white);
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
}

.btn-submit {
  color: #0a3c4c;
  width: 33rem;
  margin-top: 2em;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 1.2rem 1rem;
}

.svg:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 20rem;
  margin-top: 3rem;
}

.main__addPost {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  min-width: 350px;
  background-color: var(--color-tertiary);
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  padding: 3rem;
  margin-top: 5rem;
  border: none;
  color: var(--text-color);
  font-size: 1.8rem;
}

.main__addPost:hover {
  cursor: pointer;
}

.main-posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content {
  padding: 2rem;
  background-color: var(--color-primary);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 64rem;
  margin-top: 5rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
}

.main__content .textish {
  margin-top: 1rem;
}

.main__content-text {
  color: var(--text-color);
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.main__content-tags {
  color: #0068c9;
  font-size: 1.4rem;
  margin: 1rem 0.5rem;
  text-transform: uppercase;
}

.main__content-tags:hover {
  cursor: pointer;
}

.main__content-poster {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.main__content-poster--img {
  height: 4.5rem;
  width: 4.5rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.main__content-poster--name {
  margin-left: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.main__content-poster--clear {
  fill: var(--text-color);
  height: 4rem;
  width: 4rem;
  right: 2rem;
  position: absolute;
}

.main__content-poster--clear:hover {
  cursor: pointer;
}

.main__content-post {
  max-height: 500px;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  max-width: 100%;
}

.main__content-react {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.main__content-react--text {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--text-color);
}

.main__content-react .like {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.main__content-react .comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content-react--like {
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  fill: var(--text-color);
}

.main__content-react--comment {
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  fill: var(--text-color);
}

.posted {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.post {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-primary);
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  z-index: 1000;
  padding: 2rem;
  max-width: 64rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 2rem;
}

.post__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.post__user-img {
  height: 4.5rem;
  width: 4.5rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.post__user-name {
  margin-left: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.post__user-clear {
  fill: var(--text-color);
  height: 4rem;
  width: 4rem;
  right: 2rem;
  position: absolute;
}

.post__user-clear:hover {
  cursor: pointer;
}

.post__upload {
  background-color: var(--color-primary);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 64rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  position: relative;
}

.post__upload-img {
  max-height: 500px;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  max-width: 100%;
}

.post__upload-label {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 10rem;
  height: 10rem;
  opacity: 0;
}

.post__upload-label:hover {
  cursor: pointer;
}

.post__upload-label-input {
  display: none;
}

.post__inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.post__inputs-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-width: 15rem;
}

.post__inputs-text--tag, .post__inputs-text--msg {
  background-color: var(--color-primary);
  font-size: 1.5rem;
  color: var(--text-color);
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  white-space: pre-line;
}

.post__inputs-text--tag {
  color: #0068c9;
}

.login__container {
  background-color: #014051ea;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-border-top-right-radius: 0.8rem;
          border-top-right-radius: 0.8rem;
  -webkit-border-bottom-right-radius: 0.8rem;
          border-bottom-right-radius: 0.8rem;
}

.login__container-portfolio {
  height: 4rem;
  width: 4rem;
  fill: white;
}

.login__container-github {
  height: 4rem;
  width: 4rem;
  fill: white;
}

.login__container-email {
  height: 4.5rem;
  width: 4.5rem;
  fill: white;
}

.login__container-password {
  margin-top: 3rem;
}

.login__container-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.login__container-register {
  background-color: #014051ea;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.login__container-register--form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.login__container-register .login__container-mail {
  margin-top: 3rem;
}

.login__container-register .login__container-password-2 {
  margin-top: 3rem;
}

.link-to-login:hover,
.link-to-register:hover {
  cursor: pointer;
}

#background {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #0c4e63;
  width: 100vw;
  height: 100vh;
  min-height: 70rem;
}

#login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/forest.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 140rem;
  height: 70rem;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 15px 3px #00000080;
          box-shadow: 0px 5px 15px 3px #00000080;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
}

.input-login {
  width: 33rem;
  background-color: transparent;
  border: 1px solid white;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  outline: none;
  font-family: 'Poppins';
  font-weight: 300;
  color: white;
}

.input-login::-webkit-input-placeholder {
  color: #c7c7c7;
}

.input-login:-ms-input-placeholder {
  color: #c7c7c7;
}

.input-login::-ms-input-placeholder {
  color: #c7c7c7;
}

.input-login::placeholder {
  color: #c7c7c7;
}

.login,
.register {
  width: 50%;
  height: 100%;
}

.login__left {
  width: 50%;
}

.contact,
.contact-2 {
  position: absolute;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

.contact__icons,
.contact-2__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact {
  left: 2rem;
  bottom: 2rem;
}

.contact-2 {
  right: 2rem;
  bottom: 2rem;
}

.name {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: white;
}

.link-to-register,
.link-to-login {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  margin-bottom: 10rem;
}

strong {
  text-decoration: underline;
}

.register-forms {
  margin-top: 3rem;
}

.mail-confirm {
  color: red;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.mail-taken {
  color: red;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: -1rem;
}

.mail-sent {
  margin-bottom: 1em;
}

@media only screen and (max-width: 37.5em) {
  .login__container-email, .login__container-portfolio, .login__container-github {
    height: 2.5rem;
    width: 2.5rem;
  }
  .name {
    font-size: 1.2rem;
  }
  .input-login {
    width: 25rem;
  }
  .btn-submit {
    width: 25rem;
  }
  .nav__search {
    display: none;
  }
  .nav__icons-search {
    display: inline-block;
  }
}

@media only screen and (max-width: 76.0625em) {
  .login,
  .register {
    width: 100%;
  }
  .login__left {
    display: none;
  }
  #login {
    height: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .main {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-left: 0;
    margin-top: 4rem;
  }
  .sidebar {
    top: 0;
    left: -18rem;
    padding-right: 2rem;
    position: fixed;
  }
  .line {
    display: block;
    margin-left: 19rem;
  }
  .nav__custom {
    display: none;
  }
  .main__content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__content-post {
    max-width: 100%;
  }
  .main__post {
    width: 100%;
    min-width: 100%;
  }
  .main__post-msg {
    min-width: none;
  }
  .nav__icons-settings {
    display: inline-block;
  }
}

@media only screen and (max-width: 81.25em) {
  .profile,
  .nav {
    -webkit-border-radius: 0;
            border-radius: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 37.5em) {
  .nav__input-2 {
    display: none;
  }
  #logo {
    display: block;
  }
}
